header {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & > img.back {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center start;
        margin: 0;
        padding: 0;
        z-index: 99;
    }
    & .overlay {
        z-index: 101;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, black, var(--overlay-color));
    }
    & div:nth-child(4){
      position: absolute;
      width: 100vw;
      z-index: 102;

      left: 0;
      & > div {

        z-index: 102;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        & img.logo {
            padding: 1rem 3rem;
            filter: drop-shadow(1px 1px 2px var(--overlay-color));
            -webkit-filter: drop-shadow(1px 1px 2px var(--overlay-color));
            -moz-filter: drop-shadow(1px 1px 2px var(--overlay-color));
        }
        & > div{
           position: relative;
           left: 0;
           display:block;
           width: max-content;
        }
        & p {
            max-width: fit-content;
            text-shadow: 1px 1px 2px var(--overlay-color), 0 0 1em var(--overlay-color), 0 0 0.2em var(--overlay-color);
            text-align: center;
            margin-bottom: 0.5rem;
        }
      }
    }
}

.logo {
    height: 9vh;
}

.logo-movie {
    height: 10vh;
    position: absolute;
    z-index: 100;
    top: 80%;
    left: 5%;
}

.hidden  {
   display: none;
}

.box-acordeon  {
    display: flex;
    flex-direction: column;
    width: 100%;
    & > div {
        background-color: var(--grey-200);
        margin-left: 25%;
        margin-right: 25%;
        & p {
            margin: 1rem;
        }
    }
    & > div:nth-child(odd) {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       margin-top: 0.6rem;
    }
    & > div:nth-child(even) {
        margin-top: 0.08rem;
    }
}

main{
    & app-list-audiovisual {
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
             box-sizing: content-box;
    }

    & > h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & > div:nth-child(6){
        display: flex;
        flex-direction: column;
        align-items: center;
        & > div{
            width: max-content;
        }
    }

    & > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > img {
            width: 50%;
        }

        & > div{
            width: 50%;
            height: 100%;
        }}
    & > div:nth-child(3) {
        display: flex;
        flex-direction: row;
        align-items: center;
        & > img {
            width: 50%;
        }
        > div{
        width: 50%;
        height: 100%;
    }}


}

.apodo {
    padding-left: 0;
   // padding-top: 2rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
flex-direction: column;
 & p {
    margin-bottom: 0.2rem;
    & span {
        color: red;
    }
 }
 & input{
    font-size: 1rem;
    color: var(--dark-color);
 }
 & div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
}
.btn-g {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    & app-button {
        width: fit-content;
    }
}

@keyframes movFormInic {
  from { right: -50vw; }
  to { right: 3vw; }
}

aside {
  position: absolute;
  top: 0;
  right: 3vw;
  z-index: 140;
  animation-name:  movFormInic;
  animation-duration: 1s;
  //animation-timing-function: ease-out;
  height: 90vh;
  width: 20vw;
  min-width: 450px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > div {
    position: relative;
    padding: 3rem;
    background-color: var(--grey-200);

    & > div:first-child { //btn cerrar
        width: calc(100% - 4rem);
        top: 1rem;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 1rem;
          z-index: 130;
        }

    & > div:last-child {
      margin-top: 2rem;
      position: relative;
      display: flex;
      flex-direction: column;

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2.5rem;

        .position{
          width: max-content;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          & > div {
              position: relative;
              margin: 0.09rem;
              height: 0.2rem;
              width: 0.7rem;
          }
          & div:first-child {
              border-top-left-radius: 50%;
              border-bottom-left-radius: 50%;
          }
          & div:last-child {
              border-top-right-radius: 50%;
              border-bottom-right-radius: 50%;
          }
      }
      }

      & form {
        width: 100%;
        h2 {
          margin-bottom: 1rem;
        }
        & .txtAceptar {
          padding: 1rem;
          border-radius: 10px;
          background-color:  var(--overlay-color-btn);

          & > div {
            display: flex;
            flex-direction: row;
           justify-content: center;
          }
        }
      }
      & .btnIngresar {
        .btn-g {

          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }

      a {
          color: var(--info-color);
          cursor: pointer;
      }
      & .bienvenida {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;

        @keyframes h2Mov{
          from { transform: translateY( calc(2.25rem * 2)); }
          to   { transform: translateY(0); }
        }

        h2{
          animation: h2Mov 2s;
          z-index: 160;
        }

        b {
          color: var(--alert-color);
        }

        & > a {
          color: var(--info-color);
          b {
            color: var(--info-color) !important;
          }
        }
        & > div {
          height: fit-content;
          width: 100%;
          background-color: var(--grey-200);
          z-index: 167;
          .avatar {
           width: 100%;
           display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > div {
              width: 30%;
              height: auto;
              aspect-ratio: 1/1;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }
          }
        }

      }
      & .contS{
        overflow: hidden;
        width: 100%;
        height: calc(  (450px * 0.3 ) + 2.25rem + 1rem + 3rem);
        min-height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.selected {
  background-color: var(--secondary-color);
}

.notSelected {
  background-color: var(--grey-100);
}

.spinner{
  width: 2rem;
  aspect-ratio: 1/1;
  display: grid;
  overflow: visible;
  grid-template-areas:
  ". b1 b2 . "
  "b8 . . b3"
  "b7 . . b4"
  ". b6 b5 ."
  ;
}

.bolita{
  background-color: var(--alert-color);
  border-radius: 5%;
  animation: spinner 0.8s infinite;
}

#pos1 {grid-area: b1; }
#pos2 {grid-area: b2;  animation-delay: 0.1s;}
#pos3 {grid-area: b3;  animation-delay: 0.2s;}
#pos4 {grid-area: b4;  animation-delay: 0.3s;}
#pos5 {grid-area: b5;  animation-delay: 0.4s;}
#pos6 {grid-area: b6;  animation-delay: 0.5s;}
#pos7 {grid-area: b7;  animation-delay: 0.6s;}
#pos8 {grid-area: b8;  animation-delay: 0.7s;}
/* #pos9 {grid-area: b1;  } */

@keyframes spinner{
  from { transform: scale(2); opacity: 1;}
  to   { transform: scale(0); opacity: 0;}
}
