<header [ngStyle]="{'background-image': 'url(' + urlHeader +')'}">
    <div>
        <h2>
            Resultados para "buscado"
        </h2>
    </div>
    <div class="overlay"></div>
</header>

<main>
    <app-list-audiovisual [typeList]="'normal'"></app-list-audiovisual>
    <app-list-audiovisual [typeList]="'normal'" ></app-list-audiovisual>
    <app-list-audiovisual [typeList]="'normal'"></app-list-audiovisual>
    <app-list-audiovisual [typeList]="'normal'"></app-list-audiovisual>
    <app-list-audiovisual [typeList]="'normal'"></app-list-audiovisual>
</main>