<footer>
    <ul>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
    </ul>
    <ul>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
    </ul>
    <ul>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
        <li><a> Preguntas frecuentes </a></li>
    </ul>
    <div>
        <img class="logo" src="assets/logo/netflics-logo.png" alt="">
        <p>
            Preguntas? llama al 0800-000-000
        </p>
    </div>
</footer>
