header {
    background-image: url('/src/assets/extra/wall-pelis1.webp');
    height: 25vh;
    position: relative;

    & .overlay {
        z-index: 101;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--overlay-color);
        background: linear-gradient(to top, black,  var(--overlay-color));
    }

    & div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        top: 10vh;
        left: 6vw;
        z-index: 105;

        & div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            & app-button {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    }
}

.escalon1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    & app-button {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    padding-left: 6vw;
    padding-right: 6vw;
}

.escalon2 {
    border-top: 0.02rem solid var(--grey-200);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6vw;
    padding-right: 6vw;
    p {
        color: var(--secondary-color);
    }
    & div:last-child {
        & app-button {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        display: flex;
    flex-direction: row;
    justify-content: flex-end;
    }
}